* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* Header-Section*/
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: var(--#FFFFFF, rgba(255, 255, 255, 1));

}

.items {
    display: flex;
    gap: 30px;
    list-style: none;
    color: var(--#000000, rgba(0, 0, 0, 1));
    font-style: medium;
    font-weight: 500;
}

.items a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

#btn {
    padding: 12px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn:hover {
    background-color: gray;
}

nav {
    margin-bottom: 30px;
}

.banner {
    background-image: url(../assets/hero-bg.png);

    height: 500px;
    width: 100%;
    margin-bottom: 50px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1350px;
    height: 379px;
    text-align: center;
    margin: auto;
}

#btn-2 {
    padding: 8px 16px;
    color: #30B868;
    border-radius: 8px;
    border: none;
}

#btn-2:hover {
    background-color: gray;
}

.banner-content h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 45px;
    font-weight: 650px;
    line-height: 50px;
    text-align: center;
    margin-top: 10px;
}

.banner-content h1 span {
    color: #30B868;
}

.banner-content p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    margin-top: 20px;
}

#btn-3 {
    padding: 12px 13px;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    margin-right: 15px;
    font-size: 12px;
    font-weight: 200;
    margin-top: 30px;
    align-items: center;

}

#btn-3:hover {
    background-color: gray;
}

#btn-4 {
    padding: 12px 13px;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: none;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 200;
    background-color: transparent;
    border: 1px solid white;
    margin-top: 30px;
}

#btn-4:hover {
    background-color: gray;
}

.container-box h1 {
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-weight: 700;
    font-style: bold;
    font-size: 42px;
   }

.heading {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;

}

.heading h1 {
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 12px;
}

.heading p {
    font-size: 12px;
    font-weight: 200;
    padding-bottom: 8px;
}

.cards .card-icon {
    width: 60px;
    height: 60px;
    background: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 10px;
}

.container-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.cards {

    gap: 10px;

    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding: 10px;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 1);
    width: 350px;
    height: 250px;
    box-shadow: 5px 10px 30px rgba(29, 26, 26, 0.05);
    margin-bottom: 5px;
    margin-top: 20px;

}

.cards h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    ;
    margin-bottom: 10px;
}

.cards p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.cards:hover {
    background-color: #627382;
}

.brain-section {
    padding: 100px;
    margin-bottom: 10px;
}

.brain-container {
    display: flex;
    gap: 50px;
}

.brain-content {
    padding-top: 80px;
}

.brain-content h4 {
    color: #30B868;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.brain-content h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;

}

.brain-content p {
    color: var(--#627382, rgba(98, 115, 130, 1));
    
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 15px;

}

.points p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;

}

.end-container {
    align-items: center;
    background-color: rgba(247, 246, 242, 1);
    margin-right: 100px;
    margin-left: 100px;
    height: 300px;
    border-radius: 8px;
    padding: 80px 150px;
    margin-bottom: 50px;
}

.head-section {
   text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.head-section h1{ font-size: 40px;
    font-weight: 800;
padding-top: 0px;
    margin-bottom: 10px;}
   
.head-section p {
     color: var(--#627382, rgba(98, 115, 130, 1));
    
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 15px;
}

.bottom-section{text-align: center;
    margin: auto;
    margin-bottom: 15px;}
    .bottom-section p{
         color: var(--#627382, rgba(98, 115, 130, 1));
    
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 15px;
    }
    #btn-5{
        padding: 10px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
    }
    #btn-5:hover{
        background-color: gray;
    }
    .box{background-color: #001931;}