* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* Header-Section*/
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: var(--#FFFFFF, rgba(255, 255, 255, 1));

}

.items {
    display: flex;
    gap: 30px;
    list-style: none;
    color: var(--#000000, rgba(0, 0, 0, 1));
    font-style: medium;
font-weight: 500;
}
.items li{
  
}
.items a { font-size: 16px;
  color: #000000;
    text-decoration: none;
   }
#btn{padding:12px 16px ;
background-color: #30B868;
color: rgba(255, 255, 255, 1);
border: none;
border-radius: 4px;
cursor: pointer;
}
#btn:hover{background-color: gray;}